html {
    font-family: "Lucida Sans", sans-serif;
}

.navbar-header {
    background-color: aquamarine;
    color: white;
    padding-left: 20px;
}

.header{
    color:#13e69f;
}



.col-md-6{
    background-color:white;
}

body {
    background: rgb(201, 199, 199);
}
.nav-item dropdown {
    position: relative;
    display: block;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(5, 0, 0);
    text-align: center;
    text-decoration: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


@media (max-width: 500px) {
.navbar li {
padding: 10px;
}
.box {
margin-right: 22px;
margin-left: 22px;
}
.navbar ul {
visibility: hidden;
}
#nav-select {
visibility: visible;
}
}

.col-1 {width: 8%;}
.col-2 {width: 17%;}
.col-3 {width: 24%;}
.col-4 {width: 32%;}
.col-5 {width: 40%;}
.col-6 {width: 50%;}
.col-7 {width: 60%;}
.col-8 {width: 65%;}
.col-9 {width: 75%;}
.col-10 {width: 82%;}
.col-11 {width: 92%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }
}